<h1>Pinball League Database</h1>
<div>
    <!--Create Links to website pages-->
    <ul>
        <li>
            <a href="/">Create New Match Scorecard</a>
        </li>
        <li>
            <a href="/">Read Team Standings</a>
        </li>
        <li>
            <a href="/team">View Teams</a>
        </li>
        <li>
            <a href="/machine">View Pinball Machines</a>
        </li>
        <li>
            <a href="/bar">View Bars</a>
        </li>
        <li>
            <a href="/machine_bar">View What Bars Pinball Machines are at</a>
        </li>
    </ul>
</div>