<h3>Add a new team:</h3>
<form id="add_team" action="/team" method="post">
    Team Name: <input type="text" name="team_name"><br>
    Home Bar: <input type="text" name="bar_name"><br>
    <input type="submit" value="Submit">
</form>
<br />
<!--- Might want to add a feature to sort teams by number of wins here --->


{{!-- <form id='search_team' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPeopleByFirstName()">
</form> --}}

<h3>Current teams:</h3>
<table class="team_table">
    <thead>
        <th>Team Name</th>
        <th>Home Bar</th>
    </thead>
    <tbody>
        {{#each team}}
        <tr>
            <td>{{team_name}}</td>
            <td>{{home_bar}}</td>
            <td><button onclick="deleteTeam({{id}})">Delete</button></td>
            <td><a href="/team/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>